{% extends "layout.twig" %}

{% block content %}
<div class="new_keyword text-white text-center">
    <div class="container">
        <div class="col-xl-9 mx-auto">
            <h1 class="mb-5">Create a new link</h1>
            <h2>{{ node.node }} &#8594;</h2>
        </div> 
        <form method="post">
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-outline-secondary" style="margin-top:20px;">Link them!</button>
        </form> 
    </div>
</div>
{% endblock %}