{% extends "layout.twig" %}

{% block content %}
    <h1>All the keywords</h1>
    {% for node in nodes %}
        <div>
            <h2>{{ node.node }}</h2>
        </div>
    {% endfor %}

    <a href="/keywords">Add New</a>
{% endblock %}