{% extends "layout.twig" %}

{% block content %}
    <div class="text-white text-center get_all">
        <div class="container">
            <h1>All the keywords</h1>
            <div class="center">
                {% for node in nodes %}
                    <div>
                        <h5>{{ node.node }}</h5>
                    </div>
                {% endfor %}
                <div class="col-xs-12">
                    <a href="/keywords" class="btn btn-info btn-xs">Add New</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}