{% extends "layout.twig" %}

{% block content %}
    <div class="text-white text-center get_all">
        <div class="container">
            <h1>{{ node.node }} is linked to:</h1>
            {% for link in links %}
            <div>
                <span class="node_name"><a href="/node/{{ link.id }}">{{ link.node }}</a></span>
                <a href="/node/{{ link.id }}/create_link" class="btn btn-outline-secondary btn-sm">Link it!</a>
            </div>
            {% endfor %}
            <div class="col-xs-12">
                <a href="/keywords" class="btn btn-outline-secondary btn-lg">Add New</a>
            </div>
        </div>
    </div>
{% endblock %}