{% extends "layout.twig" %}

{% block content %}
    <h1>Add a new keyword:</h1>
    <form method="post">
        <div>
            <input type="text" name="node" value="{{ name is defined ? name : '' }}" /> 
        </div>
        <div>
            <button type="submit">Add!</button>
        </div>
    </form>
{% endblock %}