body {
    background: url("/../img/background.jpeg") no-repeat center center;
    font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}
h1 {
    font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-size: 400%;
}
.new_keyword, .get_all {
    position: relative;
    padding-top: 8rem;
}
.node_name {
    display:inline;
    color: #ffffff;
    margin: 5px;
}
.link_it {
    color: #868e96;
    font-size: 90%;
}
.add_new {
    margin-top: 20px;
}