body {
    background: url("/../img/background.jpeg") no-repeat center center;
    font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}
h1 {
    font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-size: 400%;
}
.new_keyword {
    position: relative;
    padding-top: 8rem;
}
